@media screen and (max-width: 1200px) {
    body {
        font-size: var(--font-size-sm);
    }
    
    .container-limit {
        max-width: var(--breakpoint-lg);
    }

    .header-box {
        margin: 120px auto 0 auto;
    }

    .left-section {
        grid-gap: 20px;
        margin-left: 20px;
    }

    .left-section>h1 {
        font-size: var(--font-size-4xl);
    }

    .left-section__btn>a:first-child {
        margin-right: 20px;
    }

    .right-section>img {
        width: 80%;
        margin-left: 15%;
        margin-right: 5%;
    }

    #about-me_link {
        height: 60px !important;
    }

    #about-me>h2 {
        font-size: var(--font-size-3xl);
    }

    #about-me>p {
        width: 80%;
        font-size: var(--font-size-lg);
        line-height: 1.7;
    }

    #services_link {
        height: 90px;
    }

    #services>h2 {
        font-size: var(--font-size-3xl);
    }

    #services {
        margin-bottom: 20px;
    }

    .service-box>p {
        font-size: 0.8rem;
    }

    #lang>h2 {
        font-size: var(--font-size-3xl);
    }

    .lang_container>img {
        width: 40px;
        height: 40px;
        border-radius: 3px;
    }

    #projects_link {
        height: 70px !important;
    }

    #project {
        grid-gap: 20px;
    }

    #project > h2 {
        font-size: var(--font-size-3xl);
    }

    .project-card {
        height: 250px;
    }

    .project-card>div:nth-child(2)>h3 {
        margin: 30px 0 15px 0;
    }

    .project-card>div:nth-child(2)>p {
        line-height: 1.7;
        letter-spacing: .6px;
    }
}
